* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0px;
    background-color: black;
    color: white;
    background-image: url(https://thumbs.dreamstime.com/b/brown-tile-texture-background-design-73837409.jpg);
}

@font-face {
    font-family: 'courgette';
    src: url(./Fonts/Courgette/Courgette-Regular.ttf) format('truetype');
}

#section__master-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;
    background-image: url(https://images.creativemarket.com/0.1.0/ps/7353024/1820/965/m1/fpnw/wm1/ahp0l9ecx0vfwsdo1rwxcdtynfyzn4gweomwnblntp5glupfrmnapoab88tzxyjd-.jpg?1574572829&s=b8ffc3e573cf00451539ee4b954ba3c0);
    background-position: center;
    background-size: cover;
}

#section__master-header--image {
    height: 120px;
    width: 170px;
}

#section__master-header--image-box {
    margin: 20px 0px 0px;
}



#section__master-header--title {
    font-family: 'courgette';
    margin: 0px;
    font-size: 30px;
}

.section__master-header-boxes {
    margin: 10px 0px;
}




#nav__navigation-bar--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    align-items: center;
    background-color:#5E0B15;
}

.nav__navigation-bar--tabs {
    text-decoration: none;
    color: white;
    margin: 10px 0px;
}

#section__block--banner {
    display: grid;
    grid-template: 300px / repeat(8, 1fr);
    border-bottom: 5px solid #5E0B15;
    height: 300px;
    overflow: hidden;
}

#section__banner {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
    background-image: url(https://www.golfinflorida.at/fileadmin/user_upload/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
}




#section__footer--block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#div__footer-header {
    font-family: 'courgette';
    margin-left: 20px;

}

#div__block--socials {
    margin-right: 20px;
}




#section__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

#section__title {
    font-family: 'courgette';
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 50px;
    padding: 0px 70px;
    text-align: center;
}

#section__title--decorations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0px 70px;

}


.div__decorations--bar {
    background-color: red;
    height: 2px;
    width: 100%;
    margin: 2px 0;
}





#div__block--box-top {
    background-color: #D9CAB3;
    margin: 50px 60px 0px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 40px black;

}

.div__content-block--box {
    margin: 50px 80px 0px;
    background-color: #8C7A6B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.section__content-block--header-text {
    font-family: 'courgette';
    color: #5E0B15;
    text-align: center;
    margin: 15px 0px 0px;
}

.p__content-block--text {
    color: black;
    text-align: center;
    margin: 10px 70px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section__content-block--link-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5E0B15;
    height: 75px;
    width: 250px;
    margin: 20px 0px 40px;
    border: 4px double #5E0B15;
    background-color: transparent;
}

.section__content-block--link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}




#section__content-block-image-box {
    width: 100%;
    margin: 100px 0px 0px;
}

#div__content--images {
    display: flex;
    flex-direction: row;
    height: 160px;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
}

.section__img--resize {
    height: 150px;
    width: 150px;
    background-color: black;
}

.link__content-box {
    margin: 5px;
}




#div__block--box-middle-transparent {
    height: 400px;
    width: 100%;
}

.img__background-image--fill {
    height: 400px;
    width: 100%;

}

#div__section__block--box-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background-color: black;
    opacity: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#div__block--content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 10px 165px;

}

.div__block--content-header {
    font-size: 50px;
    margin: 15px 0px 0px;
}

.div__block--content-header-text {
    color: white;
    font-family: 'courgette';
    margin: 0px;

}

#div__p__content-boc--transparent-text {
    color: white;
    margin: 10px 165px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.div__button--border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 75px;
    width: 250px;
    margin: 20px 0;
    border: 4px double white;
    background-color: transparent;
}

.link__button--box {
    text-decoration: none;
    color: white;
    font-size: 20px;
}




.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(https://offloadmedia.feverup.com/secretnyc.co/wp-content/uploads/2020/09/08192356/73422523_487451788542792_8482019883670831104_o-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid #5E0B15;
}

.image {
    width: 100%;
    height: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 40% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    flex-direction: column;
    flex-wrap: nowrap;
}

.overlay-text {
    font-size: 2em;
    padding: 20px;
}

#div__block--box-bottom {
    margin: 50px 60px 0px;
    background-color: #D9CAB3;
    padding-bottom: 90px;
    padding-top: 50px;
    box-shadow: 0px 0px 40px black;
}
