* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0px;
    background-color: black;
    color: white;
    /* background-image: url(https://i.pinimg.com/originals/21/27/a7/2127a75c21171604f5169377c5282a53.jpg); */
}

@font-face {
    font-family: 'courgette';
    src: url(./Fonts/Courgette/Courgette-Regular.ttf) format('truetype');
}

#section__master-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
}

.section__master-header-boxes {
    font-family: 'courgette';
}

#section__master-header--title {
    margin-left: 20px;
}

#section__master-header--sign-in {
    margin-right: 20px;
}



#nav__navigation-bar--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    align-items: center;
    background-color:#5E0B15;
}

.nav__navigation-bar--tabs {
    text-decoration: none;
    color: white;
    margin: 10px 0px;
}

#section__block--banner {
    display: grid;
    grid-template: 300px / repeat(8, 1fr);
    border-bottom: 5px solid #5E0B15;
    height: 300px;
    overflow: hidden;
}

#section__banner {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
    background-image: url(https://www.golfinflorida.at/fileadmin/user_upload/restaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
}




#section__footer--block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 3px solid olive;
}

#div__footer-header {
    font-family: 'courgette';
    margin-left: 20px;
    border: 3px dashed red;

}

#div__block--socials {
    margin-right: 20px;
    border: 3px dashed red;
}




#section__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    border: 3px solid dimgray;
}

#section__title {
    font-family: 'courgette';
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 50px;
    border: 3px dashed gold;
}

#section__title--decorations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0px 70px;
    border: 3px dashed seagreen;

}


.div__decorations--bar {
    background-color: red;
    height: 2px;
    width: 100%;
    margin: 2px 0;
}




#section__content {
    border: 3px solid saddlebrown;
}

#div__block--box-top {
    border: 3px solid firebrick;
    background-color: #D9CAB3;
    margin: 50px 20px 0px;

}

.section__content-block--box {
    border: 3px solid blue;


}

.div__content-block--box {
    border: 3px dashed orchid;
    margin: 50px 80px 100px;
    background-color: #8C7A6B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.section__content-block--header {
    border: 3px solid darkred;
}

.section__content-block--header-text {
    border: 3px dashed darkcyan;
    font-family: 'courgette';
    color: #5E0B15;
    text-align: center;
}

.p__content-block--text {
    border: 1px dashed black;
    color: black;
    text-align: center;
    margin: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section__content-block--link-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5E0B15;
    height: 75px;
    width: 250px;
    margin: 20px 0;
    border: 4px double #5E0B15;
    background-color: transparent;
}

.section__content-block--link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}




#section__content-block-image-box {
    border: 3px solid darkgreen;
    width: 100%;
    margin: 100px 0px 0px;
}

#div__content--images {
    /* display: grid; */
    /* grid-template: 160px / repeat(6, 1fr); */
    display: flex;
    flex-direction: row;
    height: 165px;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 3px dashed darkorange;
    background-color: white;
}

.section__img--resize {
    height: 150px;
    width: 150px;
    background-color: black;
}

.link__content-box {
    margin: 5px;
}




#div__block--box-middle-transparent {
    /* height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(https://offloadmedia.feverup.com/secretnyc.co/wp-content/uploads/2020/09/08192356/73422523_487451788542792_8482019883670831104_o-1.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1; */

    height: 400px;
    width: 100%;
    background-color: black;
    opacity: 40%;
    z-index: -1;
}

#div__section__block--box-cover {
    /* height: 400px;
    width: 100%;
    background-color: black;
    opacity: 40%;
    z-index: -1; */

    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(https://offloadmedia.feverup.com/secretnyc.co/wp-content/uploads/2020/09/08192356/73422523_487451788542792_8482019883670831104_o-1.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#div__block--content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1;
    justify-content: center;
    height: 400px;
    margin: 10px 165px;

}

.div__block--content-header {
    margin: 10px 0;
    font-size: 50px;
}

.div__block--content-header-text {
    color: white;
    z-index: 1;
    font-family: 'courgette';
    margin: 0px;
}

#div__p__content-boc--transparent-text {
    color: white;
    z-index: 1;
}

.div__button--border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 75px;
    width: 250px;
    margin: 20px 0;
    border: 4px double white;
    background-color: transparent;
}

.link__button--box {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
