* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0px;
    background-color: black;
    color: white;
    /* background-image: url(https://i.pinimg.com/originals/21/27/a7/2127a75c21171604f5169377c5282a53.jpg); */
}

@font-face {
    font-family: 'courgette';
    src: url(./Fonts/Courgette/Courgette-Regular.ttf) format('truetype');
}

#section__master-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
}

.section__master-header-boxes {
    font-family: 'courgette';
}

#section__master-header--title {
    margin-left: 20px;
}

#section__master-header--sign-in {
    margin-right: 20px;
}



#nav__navigation-bar--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    align-items: center;
    background-color:#5E0B15;
}

.nav__navigation-bar--tabs {
    text-decoration: none;
    color: white;
    margin: 10px 0px;
}

#section__block--banner {
    display: grid;
    grid-template: 300px / repeat(8, 1fr);
    border-bottom: 5px solid #5E0B15;
    height: 300px;
    overflow: hidden;
}

#section__banner {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
    background-image: url(https://www.golfinflorida.at/fileadmin/user_upload/restaurant.jpg);
    background-position: center;
}




#section__footer--block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#div__footer-header {
    font-family: 'courgette';
    margin-left: 20px;
}

#div__block--socials {
    margin-right: 20px
}
