* {
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    background-image: url(https://thumbs.dreamstime.com/b/brown-tile-texture-background-design-73837409.jpg);
}

@font-face {
    font-family: 'courgette';
    src: url(./Fonts/Courgette/Courgette-Regular.ttf) format('truetype');
}


#section__master-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;
    background-image: url(https://images.creativemarket.com/0.1.0/ps/7353024/1820/965/m1/fpnw/wm1/ahp0l9ecx0vfwsdo1rwxcdtynfyzn4gweomwnblntp5glupfrmnapoab88tzxyjd-.jpg?1574572829&s=b8ffc3e573cf00451539ee4b954ba3c0);
    background-position: center;
    background-size: cover;
}

#section__master-header--title {
    font-family: 'courgette';
    margin: 0px;
    font-size: 30px;
}

#section__master-header--image {
    height: 120px;
    width: 170px;
}

#section__master-header--image-box {
    margin: 20px 0px 0px;
}



#nav__navigation-bar--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    align-items: center;
    background-color:#5E0B15;
}

.nav__navigation-bar--tabs {
    text-decoration: none;
    color: white;
    margin: 10px 0px;
}





#section__footer--block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#div__footer-header {
    font-family: 'courgette';
    margin-left: 20px;
}

#div__block--socials {
    margin-right: 20px
}



fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 5px 10px;
    width: 100%;
    border: none;
}

#section__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9CAB3;
    margin: 50px 60px 0px;
    box-shadow: 0px 0px 40px black;
}

#section__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}

#section__title {
    font-family: 'courgette';
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 50px;
}

#section__title--decorations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0px 70px;
}


.div__decorations--bar {
    background-color: red;
    height: 2px;
    width: 100%;
    margin: 2px 0;
}



#section__user-info-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #8C7A6B;
    margin: 20px 0px;
    padding: 0px 15%;
}

.section__user-info-blocks {
    margin: 10px 0px;
}

.section__label-info {
    font-family: 'courgette';
    font-size: 20px;
    margin-right: 5px;
    color:#5E0B15;
}



#section__user-review-bottom {
    background-color: #8C7A6B;
    text-align: center;
    padding: 0px 12%;
    margin: 20px 0px;

}

.section__block--user-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.section__label--review {
    font-family: 'courgette';
    font-size: 20px;
    margin: 10px 0px;
    color:#5E0B15;

}


#ection__button--box {
    display: block;
}

button {
    background-color: #5E0B15;
    font-family: 'courgette';
    padding: 3px 9px;
    color: white;
}



#section__block--banner {
    display: grid;
    grid-template: 300px / repeat(8, 1fr);
    border-bottom: 5px solid #5E0B15;
    height: 300px;
    overflow: hidden;
}

#section__banner {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
    background-image: url(https://t4.ftcdn.net/jpg/02/09/64/33/360_F_209643310_7tdlZx6oMF9iPqnt2PzbXdfYTNKGohdm.jpg);
    background-position: center;
}
